body {
    height: 100vh;
    background: linear-gradient(
        to right,
        rgb(54, 53, 53) 0%,
        rgb(54, 53, 53) 5%,
        red 7%,
        red 92%,
        rgb(54, 53, 53) 95%,
        rgb(54, 53, 53) 100%
    );
    max-width: 960px;
    margin: 0 auto;
}
#logo {
    height: 70px;
    width: 280;
    float: left;
    margin-top: 55px;
}
.banner {
    background-color: rgb(109, 108, 108);
    box-shadow: 0 0 12px -2px black;
    align-items: center;
    height: 80px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
header nav {
    float: right;
}
header nav a {
    color: rgb(49, 2, 2);
    font-size: x-large;
    margin: 0 5px;
    text-decoration: none;
    
}
header nav h2 {
    height: 0;
    text-indent: -10000px;
}
header nav li {
    float: left;
    margin-left: 20px;
    text-decoration: none;
}
.intro{
    margin-left: 75px;
    margin-right: 40px;
    margin-top: 70px;
    display: inline-block;
    justify-content: space-around;
    align-items: right;
}
img {
    width: 300px;
    float: right;
    margin: 10px 10px 10px;
    padding-right: 30px;
}
.quote{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(31, 27, 27);
    margin: 50px 50px 50px 50px;
    padding-left: 100px;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



